/*  General  */
body, html{
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	
}
/* container */
.container{
	display: block;
    width: 100%;
	height: 100%;
	background-image: url('staryBackground.jpg');
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
	
}
/* first item --Landing page */
.homeItem{
	display: flex;
    width:100%;
    height:100%;
    /*display: flex;*/
    align-items: center;
	justify-content: center;
	transition: transform 1s;
}
.text-and-button-box{
    position: flex;
    height: 400px;
    width: 350px;
}

.introduction-text{
	font: 60px 'Montserrat';
	margin: 0px 0px;
	color: royalblue;
	
}
.major-text{
	font: 15px 'Roboto';
	color: royalblue;
	padding-bottom: 7%;
	margin-top: 0px;
}

.see-work{
	border-radius: 5px;
	height: 30px;
	width: 100px;
	background: rgb(82, 92, 122);
	border: none;
	bottom: 0px;
	margin-right: 10px;
	font: 15px 'Roboto';
	color: rgb(181, 191, 214);
}

.about-me{
	border-radius: 5px;
	height: 30px;
	width: 90px;
	background: rgb(82, 92, 122);
	border: none;
	bottom: 0px;
	margin: 0px;
	border: #A1752D;
	font: 15px 'Roboto';
	color:rgb(181, 191, 214);
}

/*  Second grid item  --Projects page*/
.projectsItem{
    width:100%;
	height:100%;
	display: flex;
    opacity: 1;
    align-items: center;
	justify-content: center;
	transform: translateX(100%);
	transition: ease-in-out transform 2s;
}

.company-grid-view{
	margin: 0px 10%;
	display: grid;
	width: 80%;
	grid-template-columns: auto auto auto;
	image-rendering: optimizeQuality;
}

.grid-item{
	padding: 10px;
	position: relative;
}

.grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.company-view{
	width: 100%;
	height: 95%;
	background-size: cover;
}

/* projects.html description masks */
.mask{
	position: absolute;
	bottom: 0;
	left: 0px;
	right: 0px;
	overflow: hidden;
	background-color: #7C8184;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.grid-item:hover .mask{
	height: 100%;
	
}

.homeButton{
	position: fixed;
	bottom: 20px;
	left: 20px;
	background: none;
	border: none;
	color: white;
	display: flex;
	align-items: center;
}
.homeButton h3{
	padding: 0px 10px;
}

.aboutButton{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: none;
	border: none;
	color: white;
	display: flex;
	align-items: center;
}
.aboutButton h3{
	padding: 0px 10px;
}

/* Third grid item --About page*/
.aboutItem{
	overflow-x: hidden;
	transform: translateX(100%);
	display: flex;
	opacity: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	transition: ease-in-out transform 2s;
}

.About-body{
	position: relative;
	width:  50%;
	height: 100%;
	padding: 30px;
}
.contact{
	margin-top: 5%;
}
.about-text{
	padding-top: 5%;
	font: 25px 'Montserrat';
	margin: 0px 0px;
	color:#B19F9E;
}

.Linkedin-link img{
	width: 50px;
	height: auto;
}


/* animations */

.inactive{
	transition: transform 2s;
	transform: translateX(-100%);
}

.active{
	opacity: 1;
	display: flex;
	transition: transform 2s;
	transform: translateX(0);
}


/* mobile friendly */
@media (min-width: 500px) and (max-width: 1000px){
	
	.picture{height: 50%; width: auto;}	
	.company-grid-view{
		margin: 0px 10%;
		display: grid;
		width: 80%;
		grid-template-columns: auto;
		image-rendering: optimizeQuality;
	}
	.company-view{
		
		width: 90%;
		height: 95%;
		background-size: cover;
	}
	.text-and-button-box{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 80%;
		width: 50%;
	}

	.projectsItem{
		overflow: auto;
	}
	
}

@media (min-width: 1000px) and (max-width: 1400px){
	
	.picture{height: 50%; width: auto;}	
	.company-grid-view{
		margin: 0px 10%;
		display: grid;
		width: 80%;
		grid-template-columns: auto auto;
		image-rendering: optimizeQuality;
	}
	.company-view{
		
		width: 90%;
		height: 95%;
		background-size: cover;
	}
	.text-and-button-box{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 80%;
		width: 50%;
	}

	.projectsItem{
		overflow: auto;
	}
	
}